body{
	background: #23232C;
}

#form-login{
	padding: 10px;
	border-radius: 5px 5px 5px 5px;
	margin-top: 25%;
}

fieldset legend{
	background: none;
	color: #FFF;
}

label{
	color: #FFF;
}

fieldset{
    border: 1px dotted #18BC9C;
}