h1,h2,h3,h4,h5,h6,li,a,p,label{
	font-family: 'Open Sans', sans-serif;
}

.fluid{
	max-width: 100%;
}

#sidebar{
	background: #23232C;
	height:100vh;
	padding: 0;
	position: fixed;
}

@media only screen and (max-width: 40em) { 
#sidebar{
	position: relative;
	margin-bottom: 10%;
}

} 

#sidebar ul{
	list-style: none;
	margin: 0;
}

#sidebar ul li a{
    background-color: #23232C;
    border-left: 2px solid transparent;
    box-sizing: border-box;
    color: #C2C2CA;
    display: block;
    font-family: "Open Sans", Arial, sans-serif;
    padding: 10px 20px 10px 20px;
    position: relative;
    transition-property: background-color,border-left-color,color;
    transition-duration: 0.15s;
    -webkit-transition-property: background-color,border-left-color,color;
    font-size: 13px;	
    border-bottom: 1px dotted #2F2F3C;
-webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;    
}

#sidebar ul li a:hover{
	background: #1F1F29;
	color: #18BC9C;
	padding: 10px 20px 10px 30px;
}

.padding0{
	padding: 0;
}

.fa-ul li a i{
    padding: 0px 8px 0 0;
    font-size: 1.2em;
}

.color-green{
	color: #18BC9C;
}

.f-bold{
	font-weight: bold;
}

.f-light{
	font-weight: lighter;
}

.margin-top10{
	margin-top: 10px;
}
.margin-top12{
	margin-top: 12px;
}
.margin-top14{
	margin-top: 14px;
}
.margin-top16{
	margin-top: 16px;
}
.margin-top18{
	margin-top: 18px;
}
.margin-top20{
	margin-top: 20px;
}
.margin-bottom10{
	margin-bottom: 10px;
}
.margin-right10{
	margin-right: 10px;
}

[data-abide] .error small.error, [data-abide] .error span.error, [data-abide] span.error, [data-abide] small.error{
    text-transform: initial;	
}

button, .button{
	margin: 0;
}

.block-green{
	background: #2ecc71;
	display: block;
	color: #FFF;
}

.block-grey{
	background: #bdc3c7;
	display: block;
	color: #FFF;
}

.main-item td:nth-child(1){
	border-left: 20px solid #0E6B58;
	position: relative;	
}

.sub-item{
	padding-left: 20px;
}

.sub-item td:nth-child(1){
	border-left: 20px solid #18BC9C;
	position: relative;
}

.sub-item td:nth-child(1):before{
    content: '';
    /* background: url(../img/arrow-down.png) no-repeat; */
    width: 12px;
    height: 7px;
    position: absolute;
    left: -16px;
    top: 22px;	    
}

.main-item td:nth-child(1):before{
	content: '';
	/* background: url(../img/arrow.png) no-repeat; */
	width: 7px;
	height: 16px;
	position: absolute;
    left: -13px;
    top: 18px;		
}

.font-size12{
	font-size: 12px;
}

.ul-page-filhas li{
	font-size: 12px;
	margin: 0;
}

.margin0{
	margin: 0;
}

.btn-opacity{
	opacity: 0.2;
}

.header-options,.footer-options{
	display: none;
}

.block-color,.block-color-footer{
	height: 150px;
	border:5px solid #FFF;
}

.block-color:hover,.block-color-footer:hover{
	border:5px solid #2B9D45;
	cursor: pointer;
}

.no-results-bg{
	background: #c0392b;
	color: #FFF;
	font-weight: bold;
}