  <div className="row fluid">
    <div className="large-2 medium-2 columns" id="sidebar">
    <div className="large-12 columns text-center margin-top10"><a href="index.php"><img src="img/logo-default.png" alt="w6Admin" title="w6Admin"></a></div>
      <div className="large-12 columns padding0">
        <ul className="fa-ul">
          <li><a href="index.php"><i className="fa fa-home fa-2x"></i>Begin</a></li>
          <li><a href="#"><i className="fa fa-users fa-2x"></i>Players</a></li>
          <li><a href="questions.php"><i className="fa fa-star fa-2x"></i>Questions</a></li>
          <li><a href="#"><i className="fa fa-gamepad fa-2x"></i>Configs</a></li>
          <li><a href="users.php"><i className="fa fa-user fa-2x"></i>Users Admin</a></li>
          <li><a href="logout.php"><i className="fa fa-sign-out fa-2x"></i>Logout</a></li>
        </ul>
      </div>
    </div><!--sidebar-->

    <div className="large-10 medium-10 large-offset-2 medium-offset-2 columns">
      <div className="large-12 columns"><h4>Welcome <strong className="color-green">Administrator</strong></h4></div>

      <div className="large-6 medium-6 columns">
      	<a href="https://www.facebook.com/instantgames/311271776341079"><i className="fa fa-gamepad fa-2x"></i> Game Link</a>
      Support (Willian): <a href="mailto:contact.silverportal@gmail.com">contact.silverportal@gmail.com</a>        
      </div>


    </div>

  </div>
 